In [6]:
import psycopg2
import pandas as pd

In [2]:
my_connection = psycopg2.connect(host='localhost',
                                user = 'postgres',
                                port = "5432",
                                database = 'PhonepePulse',
                                password = "Shashi@007")
curr = my_connection.cursor()

In [3]:
curr = my_connection.cursor()

In [12]:
query = '''select * from map_insurance'''

curr.execute(query)
a = curr.fetchall()
df = pd.DataFrame(a,columns = [i[0] for i in curr.description])

In [13]:
df.head()

,states,years,quarter,district,transaction_count,transaction_amount
0,Andaman & Nicobar,2022,1,north and middle andaman district,48,85229.0
1,Andaman & Nicobar,2022,1,south andaman district,692,982206.0
2,Andaman & Nicobar,2022,1,nicobars district,28,63852.0
3,Andaman & Nicobar,2022,2,north and middle andaman district,45,90403.0
4,Andaman & Nicobar,2022,2,south andaman district,430,633029.0

In [10]:
import plotly.express as px

In [17]:
map_fig = px.scatter_geo(df, 
                         locations='district', 
                         projection='orthographic', 
                         color='years', 
                         opacity=.8, 
                         hover_name='states', 
                         hover_data=['transaction_count', 'transaction_amount'],
                         size='transaction_amount',  # Size of the dot based on transaction_amount
                         title='Transaction Amount by District (Year-wise)'
                        )

# Update layout
map_fig.update_geos(projection_type="orthographic")
map_fig.update_layout(title=dict(font=dict(size=28)))
map_fig.show()